.header {
  color:  #fff;
  height: 80px;
  line-height: 80px;

  &__content {
    .login {
      font-size: 15px;
      font-weight: 200;
      color: #ccc;

      &__imgUser {
        position: relative;
        cursor: pointer;
        span + span {
          margin-left: 5px;
          color: #000;
          font-weight: bold;
        }
        &:hover {
          .login__listchose {
            visibility: visible;
            opacity: 1;
            transform: translateY(0);
          }
        }
      }
      &__listchose {
        position: absolute;
        visibility: hidden;
        opacity: 0;
        transform: translateY(30%);
        transition: all 0.3s ease-in-out;
        left: -45px;
        z-index: 50;
        ul {
          border-radius: 15px;
          overflow: hidden;
          background-color: #fff;
          li {
            width: 150px;
            text-align: left;
            padding: 0px 10px;
            transition: all .3s ease-in-out;
            position: relative;
            i {
              text-align: center;
              margin-right: 5px;
            }
            &:hover {
              background-color: #f1f1f1;
            }

            &:active::after {
              position: absolute;
              content: '';
              top: 0;
              left: 0;
              bottom: 0;
              right: 0;
              background: rgba(#000, 0.2);
            }
          }
        }
      }
    }

    .logo {
      img {
        width: 190px;
        height: 80px;
      }
      text-align: center;
    }

    .cart {
      font-size: 20px;
      font-weight: 200;
      text-align: right;

      i {
        font-size: 40px;
        position: relative;
        color: #fe9705;

        span {
          position: absolute;
          background: rgb(250, 47, 47);
          padding: 2px 7px;
          color: #fff;
          font-size: 20px;
          border-radius: 50px;
          top: -20%;
          left: 90%;
        }
      }
    }
  }
}

