.login {
  &__btn {
    &--login {
      margin-right: 10px;
    }
  }
}
.group__button__modal {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.login__btn {
  display: flex;
  width: 100%;
  justify-content: space-between;
  &--facebook {
    border: none;
    height: 32px;
    line-height: 32px;
    margin-right: 10px;
    padding: 0px 5px;
    background-color: #4267b2;
    font-weight: bold;
    color: #fff;
  }
}
