.group-product {
  position: relative;
  width:  97%;
  margin-top: 10px;
  margin-left: 15px;
  &:after {
    right: 0;
    top: 17px;
    position: absolute;
    content: "";
    width: 85%;
    height: 2px;
    background-color: #80bb35;
  }
  &__product {
    .slick-prev:before, .slick-next:before {
      color: #ccc;
      font-size: 30px;
    }

    .slick-prev {
      visibility: hidden;
      transform: translateX(50px);
      z-index: 2;
      transition: all .3s ease-in-out;
    }

    .slick-next {
      visibility: hidden;
      transform: translateX(-50px);
      z-index: 2;
      transition: all .3s ease-in-out;
      right: -40px;
    }

    .slick-slider {
      &:hover {
        .slick-prev {
          visibility: visible;
          transform: translateX(-13px);
        }
        .slick-next {
          visibility: visible;
          transform: translateX(0px);
        }
      }
    }

    .slick-initialized .slick-slide {
      width: 300px !important;
    }

  }
  &__title {
    width: 15%;
    background-color: #80bb35;
    border-radius: 50px;
    font-size: 23px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
  }
  &__seeMore {
    width: 150px;
    height: 40px;
    line-height: 40px;
    margin: auto;
    margin-top: 20px;
    border-bottom: 1px solid #ccc;
    font-size: 18px;
    font-weight: 500;
    color: #007bff;
    cursor: pointer;

    i {
      animation: myMove 2s infinite;
      background-color: none;
    }
    @keyframes myMove {
      from { color: #cae2fa; left: 0px;}
      to {left: 15px;}
    }
  }
}
