.listProduct {
  display: flex;
  flex-wrap: wrap;
  .productItem:not(:last-child) {
    margin-right: 1%;
  }
}
.form__add {
  width: 70% !important;
}
.form__editAdd {
  .group-button {
    width: 40%;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
}
.form__edit {
  width: 70% !important;
  margin: auto;

  &__img {
    overflow: hidden;
    img {
      height: 300px;
      margin: auto;
      object-fit: cover;
    }
  }
  .ant-modal-content {
    .ant-modal-body {
      label {
        margin-left: 4px;
        display: block;
      }
      input {
        margin-bottom: 20px;
      }
      .ant-select {
        width: 100%;
        margin-bottom: 20px;
      }
      .groupButton {
        width: 40%;
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
      }
    }
  }
}

.product__pagination {
  width: 100%;
  margin-top: 20px;
  ul {
    width: 35%;
    display: block !important;
    margin: auto !important;
  }
}
