.dashboard {
  &-status {
    margin-bottom: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    &-item {
      display: flex;
      align-items: center;
      border: 1px solid #ccc;
      width: 24%;
      border-radius: 10px;
      padding: 10px 20px;
      z-index: 1;
      overflow: hidden;
      z-index: 1;
      position: relative;
      transition: color 0.5s ease 0s;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      &-icon {
        z-index: 1;
        width: 40%;
        font-size: 50px;
        margin-right: 10px;
      }
      &-info {
        width: 60%;
        text-align: center;
        z-index: 1;
        font-size: 18px;
      }
      &::before {
        content: "";
        width: 100%;
        padding-top: 100%;
        border-radius: 50%;
        background-image:  linear-gradient(
          to top right,
          red,
          #fff
        );
        opacity: 0.5;
        position: absolute;
        left: -50%;
        top: 0;
        transform: scale(1);
        transition: transform 0.5s ease 0s;
      }
      &:hover::before {
        transform: scale(3);
      }
      &:hover {
        h3 {
          color: #fff !important;
        }
        color: #fff;
      }
      &:not(:first-child) {
        cursor: pointer;
      }
      &:first-child {
        user-select: none;
      }
    }
  }
  &-chart {
    display: flex;
    justify-content: space-between;
    &-line {
      width: 75%;
    }
    &-comment {
      width: 24%;
      &-item {
        display: flex;
        align-items: center;
        border: 1px solid #ccc;
        width: 100%;
        height: 105px;
        border-radius: 10px 10px 0 0;
        padding: 10px 20px;
        overflow: hidden;
        z-index: 1000;
        position: relative;
        transition: color 0.5s ease 0s;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        &-icon {
          z-index: 1;
          width: 40%;
          font-size: 50px;
          margin-right: 10px;
        }
        &-info {
          width: 60%;
          text-align: center;
          z-index: 1;
          font-size: 18px;
        }
        &::before {
          content: "";
          width: 100%;
          padding-top: 100%;
          border-radius: 50%;
          background-image:  linear-gradient(
            to top right,
            red,
            #fff
          );
          opacity: 0.5;
          position: absolute;
          left: -50%;
          top: 0;
          transform: scale(1);
          transition: transform 0.5s ease 0s;
        }
        &:hover::before {
          transform: scale(3);
        }
        &:hover {
          h3 {
            color: #fff !important;
          }
          color: #fff;
        }
        &:not(:first-child) {
          cursor: pointer;
        }
        &:first-child {
          user-select: none;
        }
      }
      &-list {
        border: 1px solid #ccc;
        padding: 15px 10px;
        max-height: 300px;
        border-top: none;
        margin-top: -1px;
        overflow-y: scroll;
        &-item {
          border: 1px solid #ccc;
          padding: 0px 5px;
          border-radius: 5px;
          margin-bottom: 5px;
          cursor: pointer;
          &-name {
            font-size: 16px;
            font-weight: bold;
          }
          &-button {
            display: flex;
            justify-content: space-between;
            width: 70%;
            margin: auto;
            margin-bottom: 10px;
            button {
              border-radius: 10px;

            }
          }
        }
      }
    }
  }

}
