.footer {
  width: 100%;
  background-color: #80bb35;
  &__content {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    padding: 15px 0px;
    &__left {
      width: 33.333333%;
      &--logo {
        text-align: center;
        height: 100px;
        img {
          width: 200px;
          height: 100px;
        }
      }
      &--contact {
        table {
          tr td {
            padding: 5px 5px;
            color: #fff;
            i {
              font-size: 25px;
              color: #fe9705;
            }
          }
        }
      }
    }
    &__center {
      width: 33.333333%;
      text-align: center;
      color: #fff;
      &--title {
        height: 100px;
        line-height: 100px;
        font-size: 24px;
        font-weight: bold;
      }
      ul {
        width: 100px;
        margin: auto;
        li {
          margin-bottom: 10px;
          font-size: 18px;
          cursor: pointer;
          &:hover {
            color: #fe9705;
          }
        }
      }
    }
    &__right {
      width: 33.333333%;
      text-align: center;
      color: #fff;
      &--title {
        height: 100px;
        line-height: 100px;
        font-size: 24px;
        font-weight: bold;
      }
      table {
        margin: auto;
        tr td {
          width: 50px;
          height: 30px;
          color: #fff;
          text-align: center;
          padding: 5px 0px;
          i {
            font-size: 25px;
          }
          &:nth-child(2) {
            text-align: left;
            font-size: 18px;
            padding-left: 10px;
            font-weight: 500;
          }
        }
        tr > td {
          width: 50px;
        }
        .facebook {
          i {
            color: rgb(45, 136, 255);
            font-size: 40px;
          }
        }
        .youtube {
          i {
            color: rgb(255, 0, 0);
            font-size: 40px;
          }
        }
        .instagram {
          i {
            color: #fe9705;
            font-size: 40px;
          }
        }
        .twitter {
          i {
            color: rgb(45, 136, 255);
            font-size: 40px;
          }
        }
      }
    }
  }
}
