.products {
  .sort {
    text-align: right;
  }
  &__content {
    margin-top: 20px;
    padding: 0;
  }
  .product__pagination {
    text-align: center;
  }
}

@media only screen and (max-width: 739px) {

}

@media only screen and (min-width: 740px) and (max-width: 1024px) {

}
