.directional {
  margin-bottom: 20px;
}
.box {
  height: 100%;
  .boxOutstanding {
    overflow-y: scroll;
    width: 100%;
    height: 350px;
    .item__outstanding {
      display: flex;
      width: 100%;
      height: 70px;
      &__img {
        img {
          width: 70px;
          height: 65px;
          border-radius: 5px;
        }
      }
      &__information {
        margin-left: 10px;
        margin-top: 5px;
        p {
          padding: 0;
          margin: 0;
        }
        &-name {
          font-size: 15px;
          color: #000;
        }
        &-price {
          font-size: 18px;
          color: #fe9705;
          font-weight: bold;
        }
      }
    }
  }
}
.profile {
  img {
    width: 100%;
    height: 400px;
    border-radius: 10px;
  }
  &__content {
    .title {
      font-weight: 700;
    }
    .status {
      span {
        color: #fff;
        font-weight: 600;
        padding: 5px;
        border-radius: 5px;
        margin-left: 10px;
      }
      &--stocking {
        background-color: #80bb35;
      }
      &--OutOfStock {
        background-color: #fe9705;
      }
    }
    .price {
      &__sale {
        display: flex;
        align-items: center;
        font-size: 21px;
        span + span {
          margin-left: 5px;
        }
        &-number {
          text-decoration: line-through;
          color: #ccc;
        }
        &-numberSale {
          color: #fe9705;
          font-weight: bold
        }
      }
      &__real {
        font-size: 25px;
        font-weight: bold;
        color: #fe9705;
      }
    }
    .nutrition {
      width: 100%;
      height: 100px;
      border-top: 1px solid black;
      border-bottom: 1px solid black;
    }
    .address {
      margin-top: 15px;
    }
  }
  &__addCart {
    display: flex;
    margin-top: 20px;
    label {
      font-weight: 600;
      font-size: 20px;
    }
    .addNumber {
      position: relative;
      input {
        width: 90px;
        height: 100%;
        text-align: center;
        border: 1px solid black;
        margin: 0px 15px;
      }
      .plus {
        cursor: pointer;
        position: absolute;
        border: none;
        background-color: #fff;
        top: 1px;
        right: 6px;
        width: 20px;
        height: 96%;
        transition: all 0.25s ease;
        &:hover {
          background-color: #ccc;
        }
      }
      .minus {
        cursor: pointer;
        position: absolute;
        border: none;
        background-color: #fff;
        top: 1px;
        left: 16px;
        width: 20px;
        height: 96%;
        transition: all 0.25s ease;
        &:hover {
          background-color: #ccc;
        }
      }
    }
    .buy {
      cursor: pointer;
      border: 1px solid #80bb35;
      background-color: #80bb35;
      border-radius: 10px;
      width: 80px;
      color: #fff;
      font-weight: 600;
    }
    .disabledBuy {
      border: 1px solid #ccc;
      background-color: #ccc;
      border-radius: 10px;
      width: 80px;
      color: #fff;
      font-weight: 600;
    }
  }
}

.evaluate-title {
  font-size: 25px;
  font-weight: bold;
  span {
    font-size: 18px;
    font-weight: 500;
  }
}
.evaluate-content {
  display: flex;
  height: 400px;
  &-right {
    overflow: hidden;
    overflow-y: scroll;
    width: 60%;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px 40px;
  }
  &-rate {
    div + div {
      margin-top: 10px;
    }
    width: 35%;
    .evaluate {
      button {
        margin-left: 80px;
        margin-top: 20px;
        background-color: #80bb35;
        border-radius: 5px;
        padding: 5px 10px ;
        color: #fff;
        font-weight: 600;
        border: none;
        font-size: 16px;
        &:hover {
          background-color: #fe9705;
        }
      }
    }
    &-groupButton {
      text-align: center;
      .evaluateDisable {
        button {
          background-color: #ccc;
          border: 1px solid #ccc;
          border-radius: 5px;
          padding: 5px 10px ;
          color: #fff;
          font-weight: 600;
          font-size: 16px;
        }
        span {
          margin-top: 10px;
          display: inline-block;
          text-align: center;
        }
      }
    }
  }
}

.content-product {
  width: 100%;
  height: 100%;
  border: none;
}

.fromEvaluate {
  &__btn {
    width: 80%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
}
.ant-tabs {
  margin-top: 20px;
}
.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab-active, .ant-tabs-card > div > .ant-tabs-nav .ant-tabs-tab-active {
  background-color: #fe9705 !important;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #fff;
}
.ant-tabs-tabpane {
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px 10px;
  background-color: #fff;
}
.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab, .ant-tabs-card > div > .ant-tabs-nav .ant-tabs-tab {
  background-color: #80bb35;
  color: #fff ;
}
.ant-notification {
  margin-top: 50px;
}
.ant-notification-notice {
  background-color: #ccc;
}
