.tableUser__input {
  height: auto !important;
  margin-top: 20px;
  input {
    text-align: center;
    width: 70%;
  }
}
.table__order {
  th {
    text-align: center !important;
    padding: 10px 0px !important;
  }
  td {
    margin: 0;
    text-align: center;
    padding: 10px 0px !important;
  }
  &__groupCount {
    position: relative;
    width: 85px;
    display: flex;
    align-items: center;
    margin: auto;
    input {
      margin: 0 !important;
      border: 1px solid #ccc;
      width: 100%;
      text-align: center;
    }
    button {
      position: absolute;
      border: none;
      width: 22px;
      background-color: #ccc;
      transition: all 0.3s ease-in-out
    }
    button:hover {
      background-color: rgb(230, 230, 230);
    }
    &--minus {
      left: 1px;
    }
    &--plus {
      right: 1px;
    }

  }
}
.form__edit {
  &__totals {
    li {
      display: flex;
      justify-content: space-between;
      padding: 15px 10px;
      border-bottom: 1px solid #ccc;
      font-size: 15px;
      font-weight: 500;
    }
  }
}
.display-none {
  display: none  !important;
}

.group-btn {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: 1px solid #ccc;
  button {
    width: 33.5%;
    height: 50px;
    border: none;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
  }
  &-active {
    background-color: #fff;
    color: rgb(37, 37, 220);
  }
}

.search-order-date {
  width: 60%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 20px 0px;
  &-button {
    width: 45%;
    display: flex;
    justify-content: space-between;
    button {
      width: 90px;
      height: 32px;
      border-radius: 10px;
    }
  }
}
