.comment {
  margin-left: 3%;
}
.display-none {
  display: none;
}
.replyComment {
  width: 80%;
  margin-left: 10%;
}
.notification-login {
  width: 100%;
  display: flex;
  justify-content: center;
}
